ui/etc/schema/userdata/spreadsheet.rng

<?xml version="1.0" encoding="UTF-8"?>
<element name="userdata" xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="var">
      <element name="name">
        <text/>
      </element>
      <element name="val">
        <text/>
      </element>
    </element>
  </zeroOrMore>
</element>
